div a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

body {
	font-family: arial, sans-serif;
	font-size: 13px;
}

.logo {
	height: 100px;
	width: 400px;
	position: relative;
	left: 550px;
	top: 200px;
}

input {
	width: 35%;
	height: 40px;
	position: relative;
	left: 450px;
	top: 200px;
	border-radius: 2px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	box-shadow: 0 1px 1px 0 #888;
	font-size: 16px;
}

input:hover {
	box-shadow: 0 1px 5px 0 #888;
}

.mic {
	height: 25px;
	position: relative;
	top: 207px;
	left: 408px;
}

button {
	line-height: 27px;
	height: 35px;
	width: 150px;
	position: relative;
	font-size: 13px;
	background-color: #f5f5f5; 
	color: #757575;
	font-weight: bold;
	text-align: center;
	border: 1px solid #f2f2f2;
	padding: 0 16px;
	top: 260px;
}


.search {
	left: 15px;
	position: relative;
}

.luck {
	left: 25px;
	position: relative;
}

#about {
	padding: 10px;
	left: 20px;
	position: absolute;
	opacity: .7;
}

#store {
	padding: 10px;
	left: 100px;
	position: absolute;
	opacity: .7;
}

#mail {
	padding: 10px;
	left: 1100px;
	position: absolute;
	opacity: .7;
}

#images {
	padding: 10px;
	left: 1175px;
	position: absolute;
	opacity: .8;
}

#apps {
	padding: 0px 10px 0px 0px;
	display: inline-block;
  	height: 23px;
  	width: 23px;
  	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  	background-position: -135px -42px;
  	position: absolute;
  	opacity: .55;
  	left: 1250px;
  	top: 15px;
  }

  #notification {
  	padding: 10px;
  	display: inline-block;
  	position: absolute;
  	left: 1275px;
  	top: 7px;
  }

  #email {
  	display: block;
  	height: 32px;
  	width: 32px;
  	background-image: url(https://lh3.googleusercontent.com/-9ucUjETgB7I/AAAAAAAAAAI/AAAAAAAAAAA/ACevoQPaskOveDWPYb-l9vrDEeeDlxvZbw/s32-c-mo/photo.jpg);
  	border-radius: 100%;
  	position: absolute;
  	left: 1320px;
  	padding: 1px;
  	opacity: 1;

  }


  .bottom-nav-bar {
	opacity: .7;
	top: 725px;
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: #DEDBDB;
	left: 0px;
}


#advert {
	padding: 10px;
	left: 20px;
	position: absolute;
}

#business {
	padding: 10px;
	left: 120px;
	position: absolute;
}

#privacy {
	padding: 10px;
	left: 1100px;
	position: absolute;
}

#terms {
	padding: 10px;
	left: 1200px;
	position: absolute;
}

#settings {
	padding: 10px;
	left: 1300px;
	position: absolute;
}
